.show {
    z-index: 1000;
    position: absolute;
    border: 1px solid black;
    padding: 2px;
    display: block;
    margin: 0;
}

.hide {
    display: none;
}

.show li {
}

.show a {
    border: 0 !important;
    text-decoration: none;
}

.show a:hover {
    text-decoration: underline !important;
}

#contextMenu {

}